.aeraOfPracticeCon{
    padding: 10%;
    padding-top:0 ;
   
}
.aeraOfPracticeCon h1{
    color: var(--Pure-White, #FFF);
font-family: Inter;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: 143.023%; /* 77.232px */
text-align: center;
margin-bottom: 40px;
}
.aeraOfPracticeCard{
    position: relative;
    height: 100%;
    display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
overflow: hidden;
border-radius: 14px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 83.33%, rgba(0, 0, 0, 0.70) 100%);

}
.aeraOfPracticeCard p{
    position: absolute;
    bottom: 60px;
    color: #FFFBF2;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
    
}
.aeraOfPracticeCard img{
    width:100%;
    height: 100%;
   
    object-fit: cover;
    transition: 1s;
}
.aeraOfPracticeCard img:hover{
    transform: scale(1.2);
    opacity: .6;

    
}